@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

* {
  /* border: 1px solid black; */
}

a {
  color: black !important;
  text-decoration: none !important;
}

.Toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: left;
}

.Banner {
  height: 500px;
  width: 100vw;
  background-color: lightgray;
  /* background-image: url('https://images.squarespace-cdn.com/content/v1/59d4c8d9e45a7cb9302584f4/1518598121031-TQK0DRVEB7QKW27CHCU3/personalised+garden+illustration+2.jpg?format=1000w'); */
  /* border: black 1px solid; */
  background-size: contain;
  /* background-repeat: no-repeat; */
}


.Blog {
  height: 400px;
  width: 400px;
  background-color: lightgray;
  margin-top: 40px;
}

.ReadMore {
  color: saddlebrown;
}

.mainicon {
  width: 30px;
}

.icon {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.NavButtons {
  border: #858991 1px dashed;
  padding: 10px;
  cursor: pointer;
}

/* .NavButtons>a {
  padding: 10px;
  margin: 0px;
} */

.NavButtons:hover {
  background-color: antiquewhite;
}

.NavButtons:active {
  background-color: whitesmoke;
}

.App {
  font-family: 'Annie Use Your Telescope', cursive;
  font-weight: bolder;
  text-align: center;
  padding-top: 20px;

  /* height: 100vh; */

  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 1px;
  font-size: 20px;
}

.MainLogo {
  font-size: 40px;
  font-weight: 700;
}

.MainNavbar {
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingDirection {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
}

.CenterImage {
  width: 25vw;
  margin: 0;
}


/* slider scrolls */

/* slider scrolls */

/* slider scrolls */


.SliderScrollLeft {
  width: 700px;
  height: 400px;
  padding: 70px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: -350px;
  font-size: 15px;
  opacity: 0;
  border-right: saddlebrown 1px solid;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderScrollLeft:hover {
  left: 0px;
  opacity: 1;
  background-color: antiquewhite;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.SliderScrollRight {
  width: 700px;
  height: 400px;
  padding: 70px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: -350px;
  font-size: 15px;
  opacity: 0;
  border-left: saddlebrown 2px solid;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderScrollRight:hover {
  right: 0px;
  opacity: 1;
  background-color: antiquewhite;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}


.SliderScrollBottom {
  width: 80vw;
  height: 250px;
  padding: 70px;
  background-color: transparent;
  position: absolute;
  bottom: -20%;
  left: 10%;
  font-size: 15px;
  opacity: 0;
  border-top: saddlebrown 2px solid;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderScrollBottom:hover {
  bottom: 0px;
  opacity: 1;
  background-color: antiquewhite;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.SliderScrollText>h3 {
  font-weight: 700;
}

.Banner2 {
  height: 0vh;
}

.Footer {
  font-size: 10px;
}

.Mobile {
  display: none;
}

.Blog {}

@media only screen and (max-width: 900px) {
  .MainNavbar {
    margin: 0px;
    padding: 0px;
  }

  .Web {
    display: none;
  }

  .Mobile {
    display: none;
  }

  span {
    display: none;
  }

  .Banner {
    height: 200px;
  }

  .SliderScrollCard {
    height: 400px;

    font-size: 15px;
    opacity: 1;
    /* border-top: saddlebrown 1px solid; */


    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }
}